.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 6rem 0;
}
.banner__titulo {
  color: var(--preto);
  font-size: 3rem;
  font-weight: 600;
  padding: 2.5rem 0;
}
.banner__subtitulo {
  color: var(--vermelho);
  font-size: 1rem;
  font-weight: 600;
}
.banner__texto {
  color: var(--cinza);
  font-size: 1.25rem;
  font-weight: 400;
  width: 55%;
}
.banner__metricas {
  display: flex;
  text-align: start;
  flex-direction: row;
  margin: 6rem;
}
.metricas {
  width: 25%;
  margin: 2rem;
}
.metricas__titulo {
  color: var(--vermelho);
  padding: 1.5rem 0;
  font-size: 3.75rem;
  font-weight: 600;
}
.metricas__subtitulo {
  color: var(--preto);
  margin: 0.75;
  font-size: 1.125rem;
  font-weight: 500;
}
.metricas__texto {
  color: var(--gray-500, #667085);
  font-size: 1rem;
  font-weight: 400;
}
